.login-wrapper{
    padding: 10px;
    .logo-wrapper{
        span{
            color: #2e2e2e;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 30px;
            text-align: center;
            margin-top: 10px;
        }
    }
    .user-input{
        width: 100%;
        font-size: 18px;
    }
    
}
::ng-deep.mat-radio-button:not(:first-child){
    // margin-left: 20px;
    margin: 15px 20px;
}
// ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
//     padding: 0em .75em !important;
// }
