<div class="login-wrapper">
    <form [formGroup]="loginForm" (submit)="submit()">
        <mat-form-field class="user-input mt-4" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="email">
        </mat-form-field>
        <mat-form-field class="user-input" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="" formControlName="password">
        </mat-form-field>
        <div class="row p-0 m-0">
            <div class="col-12 p-0 m-0 d-flex align-items-center">
                <button type="submit" mat-raised-button color="primary" class="w-50 m-auto" (click)="submit()">Login</button>
            </div>
            <div class="col-12 p-0 m-0 d-flex align-items-center">
                <button type="submit" mat-raised-button color="basic" class=" w-50 m-auto my-4" (click)="submit()">Cancel</button>
            </div>
        </div>
    </form>
</div>